#container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

.cartao {
  width: 200px;
  height: 300px;
  perspective: 1000px;
  cursor: pointer;
  transition: transform 0.6s ease;
  position: relative;
  flex-shrink: 0;
}

.cartao.fullscreen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(3); /* centraliza e amplia */
  z-index: 999;
  width: 200px;
  height: 300px;
  cursor: zoom-out;
  transition: transform 0.6s ease;
}

.cartao__conteudo {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
}

.cartao.active .cartao__conteudo {
  transform: rotateY(180deg);
}

.cartao__face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  top: 0;
  left: 0;
  overflow: hidden;
}

.cartao__face img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.cartao__verso {
  transform: rotateY(180deg);
}
